/* basic */

* {
  box-sizing: border-box;
}

:root {
  --mainBg: #dfdde0;
  --sidebarBg: #373737;
  --white: #ffffff;
  --gray: #a8a8a8;
  --secondary: #595959;
  --accent: #ff6b08;
}

body {
  padding-top: 30px;
  margin: 0;

  background: #f5f7fa;

  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration-color: var(--gray);
}

a:hover {
  text-decoration-color: inherit;
}

.wrapper {
  display: flex;
  width: 1150px;
  height: 1626px;

  margin-left: auto;
  margin-right: auto;

  background: var(--mainBg);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* sidebar */

.sidebar {
  width: 35%;

  padding-top: 40px;

  background: var(--sidebarBg);
  color: var(--white);
}

.sidebar-container {
  margin-left: 10px;
  margin-top: 55px;
  margin-right: 5px;

  color: var(--white);
}

.sidebar-photo {
  width: 100%;
}

.about-me-container {
  width: 100%;

  padding-top: 110px;
  padding-right: 60px;
  padding-left: 90px;
  padding-bottom: 110px;
}

.contacts-container {
  padding-left: 20px;
  list-style: none;
}

.contacts-container > *:not(:last-child) {
  margin-bottom: 10px;
}

.sidebar-title {
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.sidebar-link {
  color: var(--white);
}

.skills-title {
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.skills-item {
  color: var(--accent);
}

.skills-text {
  color: var(--white);
}

/* main */

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.info-container {
  margin-bottom: 65px;
}

.projects > * {
  margin-top: 5px;
}

.projects-code {
  height: 1.5rem;

  margin-left: 10px;
}

.projects-icon {
  width: 30px;
  height: inherit;

  padding-left: 3px;
  padding-right: 3px;

  border: 1px solid var(--secondary);
}

.projects-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 40px;

  color: var(--secondary);
}

.projects-item {
  display: flex;
  justify-content: space-between;
}

.dots {
  flex: 1 0;
  min-width: 10px;
  height: 1.35rem;

  margin: 0 0.4em;
  border-bottom: 1px dotted var(--gray);
  font-weight: 100;
}

.project-container {
  margin-bottom: 40px;
}

.profession-title {
  margin-bottom: 15px;

  font-size: 16px;
}

.profession-time {
  color: #a8a8a8;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-item {
  color: var(--secondary);
}

.about-me-title {
  margin-bottom: 40px;
}

.university {
  margin-bottom: 15px;

  font-size: 16px;
}
